<%#= turbo_stream_from "stores" %>

<header class="p-4 bg-indigo-900 flex justify-between items-center">
  <h1 class="text-3xl font-bold text-white">Vention BIM</h1>
  <a href="https://github.com/levidavidmurray/vention-bim" target="_blank" class="text-neutral-100 text-3xl hover:text-neutral-300 active:text-neutral-400">
    <iconify-icon icon="mdi:github"></iconify-icon>
  </a>
</header>

<div class="flex px-4 mt-4 overflow-hidden">

  <%# Bookstore List %>
  <div class="w-72 flex-shrink-0 scrollbar-thin scrollbar-thumb-neutral-400 scrollbar-track-neutral-200 pr-2 mr-8 overflow-y-auto">
    <turbo-frame src="/stores" id="store_list"></turbo-frame>
  </div>

  <%# Selected Bookstore %>
  <div class="flex-grow overflow-y-auto scrollbar-thin scrollbar-thumb-neutral-400 scrollbar-track-neutral-200 pr-2">
    <div class="w-full flex justify-end mb-2">
      <a href="/books" data-turbo-frame="store_display">
        <button primary>View All Books</button>
      </a>
    </div>
    <div class="w-full bg-neutral-200 border-neutral-300 border mb-12 py-4 px-6">
      <% if @default_store.nil? %>
        <turbo-frame src="/stores/new" id="store_display"></turbo-frame>
      <% else %>
        <turbo-frame src="/stores/<%= @default_store.id %>" id="store_display"></turbo-frame>
      <% end %>
    </div>
  </div>

</div>

